body.index {
    .navbar {
        .navbar-logo {
            a{
                color: $color-secundario;
            }
        }
    }
}

.home {
    position: absolute;
    bottom: 0;
    min-height: 70%;
    min-width: 100%;
    &-hero {
        min-height: 100%;
        &-bg{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $color-primario;
            transform: 
                skew(20deg)
                translate(-50rem);

            &>*{
                transform: 
                    skew(-20deg)
                    translateX(70rem);
            }
        }
        &-content{
            position: absolute;
            top: 50%;
        }
        &-text{
            position: fixed;
            top: 12%;
            left: 5%;
            max-width: 45% - 10%;
            z-index: -1000;

            h1{
                font-family: $fuente-primaria;
                font-weight: bold;
                font-size: 48px;
            }
            p{
                font-family: $fuente-primaria;
                font-weight: 300;
                font-style: italic;
                margin-top: 2px;
                font-size: 20px;
            }
        }
        &-carousel{
            position: fixed;
            top: 20%;
            left: 0%;
        }
        .carousel{
            &-visualizer-frame {
                position: relative;
                overflow: hidden;
                min-height: 268px;
                min-width: 429px;
                background-color: #fff;
            }
            &-slides{
                display: flex;
                flex-direction: row;
                position: absolute;
            }
            &-slide{
                min-width: 100%;
            }
        }
    }

    &-img-hero {
        position: absolute;
        top: -9rem;
        right: 1rem;
        z-index: -100; 
        img {
            width: 60vw;
        }
    }
}